* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 100%;
}
/* MY CLASSES */
.flex {
    display: flex;
}
.flex-direction-column {
    flex-direction: column;
}
.align-items-center {
    align-items: center;
}
.justify-content-space-between {
    justify-content: space-between;
}
.display-block {
    display: block;
}
.bold {
    font-weight: 800;
}
.second-text-color {
    color: var(--second-text-color);
}
.pd {
    padding: 0.5rem;
}
/* VARIABLES */
:root {
    /* colors */
    --second-text-color: rgba(177,177,177,255);
    --first-body-bg-color: rgba(0,150,136,255);
    --second-body-bg-color: rgba(219,219,210,255);
    --header-bg: rgba(234,234,234,255);
    --first-raw-bg: rgba(255,255,255,255);
    --second-raw-bg: rgba(234,234,234,255);
    --first-notification-color: rgba(142,218,252,255);
    --second-notification-color: rgba(242,251,255,255);
    /* sizing */
    --header-height: 60px;
    --row-height: 70px;
    --input-height: 50px;
    /* padding */
    --header-padding: 0.5rem;
    --row-padding: 1rem;
  }
/* BODY */
body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, var(--first-body-bg-color)
    20%, var(--second-body-bg-color) 20%);
}
/* CONTAINER */
.container {
    width: 85%;
    height: 95%;
    min-width: 900px;
    min-height: 400px;
    margin: auto;
}
/* GENERAL FOR COL */
/* header */
header {
    width: 100%;
    height: var(--header-height);
    padding: var(--header-padding);
    background-color: var(--header-bg);
}
/* user */
.user img,
.person img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
/* LEFT COL */
.left-col {
    width: 35%;
    height: 100%;
}
/* notification */
.notification {
    width: 100%;
    height: var(--row-height);
    padding: var(--row-padding);
    background-color: var(--first-notification-color);
}
.notification i {
    font-size: 1.3rem;
    padding: 0.8rem;
    color: var(--first-notification-color);
    background-color: var(--second-notification-color);
    border-radius: 50%;
}
/* chat */
.chat {
    width: 100%;
    height: calc(100% - var(--header-height) - var(--row-height));
    background-color: var(--first-raw-bg);
}
/* search-chat */
.chat .search-chat {
    width: 100%;
    height: var(--input-height);
}
.search-chat form {
    width: 95%;
    height: 80%;
    margin: auto;
    box-shadow: 0px 0px 1px #888888;
}
.search-chat button {
    width: 60px;
    font-size: 1.1rem;
    color: var(--second-text-color);
    background-color: transparent;
    border: none;
}
.chat .search-chat input {
    width: calc(100% - 60px);
    color: var(--second-text-color);
    background-color: transparent;
    border: none;
}
/* RIGHT COL */
.right-col {
    width: 65%;
    height: 100%;
    background-image: url(../img/mine.jpg);
}
.right-col header {
    border-left: 1px solid var(--second-text-color);
}
