* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* CLASSES */
.flex {
    display: flex;
}
/* VARIABLES */
:root {
    --first-body-bg-color: rgba(0,150,136,255);
    --second-body-bg-color: rgba(219,219,210,255);
  }
/* BODY */
body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, var(--first-body-bg-color)
    30%, var(--second-body-bg-color) 30%);
}
/* CONTAINER */
.container {
    background-color: aqua;
    width: 85%;
    height: 95%;
    min-width: 600px;
    min-height: 400px;
    margin: auto;
}